{% extends 'base.html' %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 style="font-size: xx-large; padding-bottom: 5px;">Logowanie</h3>
    <div class="box">
        <form method="POST" action="/login-post">
            <div class="field">
                <input class="input" required="required" type="text" name="login" placeholder="Login" >
            </div>
            <div class="field">
                <input class="input" required="required" type="password" name="password" placeholder="Hasło">
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>

    <h3 style="font-size: x-large; padding-bottom: 5px;">Nie posiadasz konta? Zarejestruj się!</h3>
    <div class="box">
        <form method="POST" action="/register-post">
            <div class="field">
                <input class="input" required="required" type="text" name="name" placeholder="Imie">
            </div>
            <div class="field">
                <input class="input" required="required" type="text" name="surname" placeholder="Nazwisko">
            </div>
            <div class="field">
                <input class="input" required="required" type="text" name="login" placeholder="Login">
            </div>
            <div class="field">
                <input class="input" required="required" type="password" name="password" placeholder="Hasło">
            </div>
            <div class="field">
                <input class="input" required="required" type="password" name="confirm_password" placeholder="Powtórz hasło">
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" required="required">
                    Zapoznałem się z regulaminem
                </label>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Rejestruj</button>
        </form>
    </div>
</div>
{% endblock %}
